<div class="slider">
        <ul class="slides">
          <li>
            <img src="https://png.pngtree.com/thumb_back/fw800/back_pic/00/01/89/25560cf970544c2.jpg"> <!-- random image -->
          </li>
          <li>
            <img src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/B1eYNZGrripnnry82/on-the-table-at-library-blurred-background_srzsdgyye_thumbnail-full01.png"> <!-- random image -->
          </li>
        </ul>
        <div class="carousel">
            <a class="carousel-item" href="#one!"><img src="http://catalogo.ftd.com.br.s3.amazonaws.com/280x400_o-picapau-amarelo.jpg"></a>
            <a class="carousel-item" href="#two!"><img src="http://catalogo.ftd.com.br.s3.amazonaws.com/280x400_o-comprador-de-fazendas.jpg"></a>
            <a class="carousel-item" href="#three!"><img src="http://catalogo.ftd.com.br.s3.amazonaws.com/280x400_a-hidra-de-lerna.jpg"></a>
            <a class="carousel-item" href="#four!"><img src="http://catalogo.ftd.com.br.s3.amazonaws.com/280x400_o-leao-de-nemeia.jpg"></a>
            <a class="carousel-item" href="#five!"><img src="https://s3-us-west-2.amazonaws.com/catalogo.ftd.com.br/files/uploads/4906_resized_150x200.jpg"></a>
        </div>
      </div>
      
<app-produtogrid></app-produtogrid>